<h2>Bands</h2>
<%if @bands.count > 0%>
  <ul>
    <%@bands.each do |band|%>
    <li>
      <%=link_to band.name, band_url(band.id)%>
      <%=band.albums.count%> albums, <%=band.tracks.count%> tracks)
      <br>
      
      <%= button_to "Remove Band", band_url(band.id), method: :delete%>
     </li>
    
    <%end%>
  </ul>
  <br>
<%end%>
<%=render 'partials/band_form'%>