<h3 class="post-title shown"><%=post.get('title')%></h3>
<form class="post-title not-shown">
  <input type="text" class="post-title" name="post[title]" value="<%=post.get('title')%>">
</form>
<br>
<p class="post-body shown"><%=post.get('body')%></p>
<form class="post-body not-shown">
  <input type="text" class="post-body" name="post[body]" value="<%=post.get('body')%>">
</form>
<br>
<a href="#posts/<%=post.id%>/edit">Edit Post</a>